.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 500px;
  margin-bottom: 0.5rem;
}

.justify-start {
  justify-content: start;
}

.buttons-container {
  margin-top: 1rem;
}

input,
label,
button {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.8rem;
}

button {
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: lightcoral;
}
